@import "tailwindcss";

/* Variables globales de diseño */
:root {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
}

/* Reset mínimo */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
