# ═══ Base de Datos (MySql) ═══
MYSQL_DSN=root:4QsHc_n1859(@tcp(127.0.0.1:3306)/crm_sparkbigs?charset=utf8mb4&parseTime=True&loc=Local

# ═══ Servidor ═══
PORT=8080
BASE_URL=http://localhost:8080
CORS_ORIGINS=http://localhost:4300

# ═══ Seguridad ═══
ENCRYPTION_KEY=cambiar-clave-aleatoria-32-chars-min
JWT_SECRET=cambiar-secret-aleatorio-32-chars-min
